#listaMarcas {
	border: 1px solid #748a7e;
	border-radius: 10px;
	background-color: #bbc7c0;
	padding: 1rem;

	margin: 2rem 2rem 0 0;
}

#menuEd {
	background-color: #dce09d;
	border: 1px solid #b5ba73;
	border-radius: 10px;
	padding: 1rem;
	margin-top: 2rem;
}

.btn {
	margin: 1rem 0 1rem 0;
	display: block;
}

.container {
	z-index: -1;
}

.alert {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 10;
}
